.card {
    width: 32%;
    margin-left: 1%;
}

.newnews {
    margin-left: 1%;
}

.font-weight-normal {
    font-weight: 400!important;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.menu a.active {
    color: #007bff!important;
}

.col {
    margin-left: 1%;
}